<%- include('../partials/header') %>

<% if (user) { %>
<form id="add-workout-form" action="/workouts" method="POST">
  <label>Workout</label>
  <input class="workout-text" type="text" name="name">
  <label>Category</label>
  <select name="category">
    <option value="weight-lifting">Weight-Lifting</option>
    <option value="cross-fit">Cross-Fit</option>
    <option value="cardio">Cardio</option>
    <option value="other">Other</option>
  </select>
  <label>Group</label>
  <select name="group">
    <option value="upper-body">Upper-Body</option>
    <option value="lower-body">Lower-Body</option>
    <option value="other">Other</option>
  </select>
  <label>Description</label>
  <textarea name="description"></textarea>
  <!-- <label>Image:</label>
  <input type="image" name="born"> -->
  <input class="submit-button" type="submit" value="Add Workout">
</form>
<% } %>

<table id="Workout-Container">
  <div>Workout List</div>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Category</th>
      <th>Group</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% workouts.forEach(function(w) { %>
      <tr>
        <td class="workout-list"><%= w.name %></td>
        <td class="workout-list"><%= w.category %></td>
        <td class="workout-list"><%= w.group %></td>
        <td class="workout-list"><%= w.description %></td>
      </tr>
    <% }); %>
  </tbody>
</table>



<%- include('../partials/footer') %>