<!-- this is the page with the weekly schedule (added from the add page) -->

<%- include('../partials/header') %>

<table id="schedule">
  <thead>
    <tr>
      <th>Day</th>
      <th>Workout</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weights</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% schedules.forEach(function(s) { %>
      <tr>
        <td><%= s.day %></td>
        <td><%= s.workout %></td>
        <td><%= s.sets %></td>
        <td><%= s.reps %></td>
        <td><%= s.weights %></td>
        <td><a href="/schedules/<%= s._id %>">Detail</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>