<%- include('../partials/header') %>

<% if (user) { %>
<table id="schedule-1">
  <div>Monday</div>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weights</th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
    <% schedules.forEach(function(s) { %>
      <% if (s.day === 'Monday') { %>
      <tr>
        <td><%= s.workout %></td>
        <td><%= s.sets %></td>
        <td><%= s.reps %></td>
        <td><%= s.weights %></td>
        <td class="last"><a href="/schedules/<%= s._id %>">Detail</a></td>
      </tr>
      <% }%>
    <% }); %>
  </tbody>
</table>
<br>

<table id="schedule-2">
  <div>Tuesday</div>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weights</th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
    <% schedules.forEach(function(s) { %>
      <% if (s.day === 'Tuesday') { %>
      <tr>
        <td><%= s.workout %></td>
        <td><%= s.sets %></td>
        <td><%= s.reps %></td>
        <td><%= s.weights %></td>
        <td class="last"><a href="/schedules/<%= s._id %>">Detail</a></td>
      </tr>
      <% }%>
    <% }); %>
  </tbody>
</table>
<br>

<table id="schedule-3">
  <div>Wednesday</div>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weights</th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
    <% schedules.forEach(function(s) { %>
      <% if (s.day === 'Wednesday') { %>
      <tr>
        <td><%= s.workout %></td>
        <td><%= s.sets %></td>
        <td><%= s.reps %></td>
        <td><%= s.weights %></td>
        <td class="last"><a href="/schedules/<%= s._id %>">Detail</a></td>
      </tr>
      <% }%>
    <% }); %>
  </tbody>
</table>
<br>

<table id="schedule-4">
  <div>Thursday</div>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weights</th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
    <% schedules.forEach(function(s) { %>
      <% if (s.day === 'Thursday') { %>
      <tr>
        <td><%= s.workout %></td>
        <td><%= s.sets %></td>
        <td><%= s.reps %></td>
        <td><%= s.weights %></td>
        <td class="last"><a href="/schedules/<%= s._id %>">Detail</a></td>
      </tr>
      <% }%>
    <% }); %>
  </tbody>
</table>
<br>

<table id="schedule-5">
  <div>Friday</div>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weights</th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
    <% schedules.forEach(function(s) { %>
      <% if (s.day === 'Friday') { %>
      <tr>
        <td><%= s.workout %></td>
        <td><%= s.sets %></td>
        <td><%= s.reps %></td>
        <td><%= s.weights %></td>
        <td class="last"><a href="/schedules/<%= s._id %>">Detail</a></td>
      </tr>
      <% }%>
    <% }); %>
  </tbody>
</table>
<br>

<table id="schedule-6">
  <div>Saturday</div>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weights</th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
    <% schedules.forEach(function(s) { %>
      <% if (s.day === 'Saturday') { %>
      <tr>
        <td><%= s.workout %></td>
        <td><%= s.sets %></td>
        <td><%= s.reps %></td>
        <td><%= s.weights %></td>
        <td class="last"><a href="/schedules/<%= s._id %>">Detail</a></td>
      </tr>
      <% }%>
    <% }); %>
  </tbody>
</table>
<br>

<table id="schedule-7">
  <div>Sunday</div>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weights</th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
    <% schedules.forEach(function(s) { %>
      <% if (s.day === 'Sunday') { %>
      <tr>
        <td><%= s.workout %></td>
        <td><%= s.sets %></td>
        <td><%= s.reps %></td>
        <td><%= s.weights %></td>
        <td class="last"><a href="/schedules/<%= s._id %>">Detail</a></td>
      </tr>
      <% }%>
    <% }); %>
  </tbody>
</table>
<% } else { %>
  <h1 class="log-in-message">Please sing in to view schedule</h1>
<% } %>


<%- include('../partials/footer') %>

