<%- include('../partials/header') %>

<table id="schedule-1">
  <div><span>M</span>onday</div>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weights</th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
    <% schedules.forEach(function(s) { %>
      <% if (s.day === 'Monday') { %>
      <tr>
        <td><%= s.workout %></td>
        <td><%= s.sets %></td>
        <td><%= s.reps %></td>
        <td><%= s.weights %></td>
        <td class="last"><a href="/schedules/<%= s._id %>">Detail</a></td>
      </tr>
      <% }%>
    <% }); %>
  </tbody>
</table>
<br>

<table id="schedule-2">
  <div><span>T</span>uesday</div>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weights</th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
    <% schedules.forEach(function(s) { %>
      <% if (s.day === 'Tuesday') { %>
      <tr>
        <td><%= s.workout %></td>
        <td><%= s.sets %></td>
        <td><%= s.reps %></td>
        <td><%= s.weights %></td>
        <td class="last"><a href="/schedules/<%= s._id %>">Detail</a></td>
      </tr>
      <% }%>
    <% }); %>
  </tbody>
</table>
<br>

<table id="schedule-3">
  <div><span>W</span>ednesday</div>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weights</th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
    <% schedules.forEach(function(s) { %>
      <% if (s.day === 'Wednesday') { %>
      <tr>
        <td><%= s.workout %></td>
        <td><%= s.sets %></td>
        <td><%= s.reps %></td>
        <td><%= s.weights %></td>
        <td class="last"><a href="/schedules/<%= s._id %>">Detail</a></td>
      </tr>
      <% }%>
    <% }); %>
  </tbody>
</table>
<br>

<table id="schedule-4">
  <div><span>T</span>hursday</div>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weights</th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
    <% schedules.forEach(function(s) { %>
      <% if (s.day === 'Thursday') { %>
      <tr>
        <td><%= s.workout %></td>
        <td><%= s.sets %></td>
        <td><%= s.reps %></td>
        <td><%= s.weights %></td>
        <td class="last"><a href="/schedules/<%= s._id %>">Detail</a></td>
      </tr>
      <% }%>
    <% }); %>
  </tbody>
</table>
<br>

<table id="schedule-5">
  <div><span>F</span>riday</div>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weights</th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
    <% schedules.forEach(function(s) { %>
      <% if (s.day === 'Friday') { %>
      <tr>
        <td><%= s.workout %></td>
        <td><%= s.sets %></td>
        <td><%= s.reps %></td>
        <td><%= s.weights %></td>
        <td class="last"><a href="/schedules/<%= s._id %>">Detail</a></td>
      </tr>
      <% }%>
    <% }); %>
  </tbody>
</table>
<br>

<table id="schedule-6">
  <div><span>S</span>aturday</div>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weights</th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
    <% schedules.forEach(function(s) { %>
      <% if (s.day === 'Saturday') { %>
      <tr>
        <td><%= s.workout %></td>
        <td><%= s.sets %></td>
        <td><%= s.reps %></td>
        <td><%= s.weights %></td>
        <td class="last"><a href="/schedules/<%= s._id %>">Detail</a></td>
      </tr>
      <% }%>
    <% }); %>
  </tbody>
</table>
<br>

<table id="schedule-7">
  <div><span>S</span>unday</div>
  <thead>
    <tr>
      <th>Workout</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weights</th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
    <% schedules.forEach(function(s) { %>
      <% if (s.day === 'Sunday') { %>
      <tr>
        <td><%= s.workout %></td>
        <td><%= s.sets %></td>
        <td><%= s.reps %></td>
        <td><%= s.weights %></td>
        <td class="last"><a href="/schedules/<%= s._id %>">Detail</a></td>
      </tr>
      <% }%>
    <% }); %>
  </tbody>
</table>
<br>
<br>


<%- include('../partials/footer') %>

