<%- include('../partials/header') %>

<section id="show-page">
    <table>
        <thead>
            <tr>
                <th>Workout</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Weights</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
            <tr>
                <th><%= schedule.workout %></th>
                <th><%= schedule.sets %></th>
                <th><%= schedule.reps %></th>
                <th><%= schedule.weights %></th>
            </tr>
        </table>
</section>

<% if (schedule.notes.length) { %>
    <table>
      <thead>
        <tr>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <% schedule.notes.forEach(function(n) { %>
          <tr>
            <td><%= n.content %></td>
            <td>
                <form action="/notes/<%= n._id %>?_method=DELETE" method="POST">
                  <input id="delete-note" type="submit" name="" value="X">
                </form>
                </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Notes Yet</h5>
  <% } %>

<br><br>
<h2>Notes</h2>
    <form id="add-note-form" method="POST" action="/schedules/<%= schedule._id %>/notes">
        <label>Notes:</label>
        <textarea name="content"></textarea>
        <input type="submit" value="Add Note">
    </form>


<%- include('../partials/footer') %>