<%- include('../partials/header') %>

<section id="show-page">
    <table>
        <thead>
            <tr>
                <th>Workout</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Weights</th>
        </thead>
        <tbody>
            <tr>
                <th><%= schedule.workout %></th>
                <th><%= schedule.sets %></th>
                <th><%= schedule.reps %></th>
                <th><%= schedule.weights %></th>
            </tr>
        </tbody>
     </table>
     <br>
     <form action="/schedules/<%= schedule._id %>/edit" method="GET">
        <button type="submit">Edit</button>
    </form>
</section>

<br><br>
<h2>Notes</h2>
<% if (user) { %>
    <form id="add-note-form" method="POST" action="/schedules/<%= schedule._id %>/notes">
 
        <textarea name="content"></textarea>
        <input type="submit" value="+">
    </form>
<% } %>

<% if (schedule.notes.length) { %>
    <table>

      <tbody>
        <% schedule.notes.forEach(function(n) { %>
          <tr>
            <td>
                <% if (user && user._id.equals(n.user)) { %>
                    <form action="/notes/<%= n._id %>?_method=DELETE" method="POST">
                        <button type="submit">x</button>
                    </form>
                <% } %>
            </td>
            <td><%= n.content %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Notes Yet</h5>
  <% } %>



<%- include('../partials/footer') %>